body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-image {
  background-image: url("./Assets/images/darkSpace.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.card.search-card,
.card.results-card {
  background-color: #1e1e1eeb;
  border-radius: 30px;
  color: white;
  opacity: 0.9;
  border-bottom: 5px solid #48783e;
}

@keyframes wrong-shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrong-shake {
  animation: wrong-shake 0.5s;
  border-bottom: 5px solid red !important;
}

#button-choice {
  background: #393b3c;
  border-width: 0;
  color: white;
  margin: 5px;
}

#button-choice:hover {
  color: lightgrey;
}

.container {
  width: 100%;
  padding: 20 20;
}

#chartdiv {
  width: 100%;
  height: 450px;
  max-width: 100%;
}

.country-container {
  font-size: 20px;
  color: white;
}
.score {
  font-size: 20px;
}
.question-count {
  font-size: 19px;
}

.buttons-div {
  display: flex;
}

@media (max-width: 500px) {
  .search-card {
    max-width: 100%; /* Set the desired smaller width for phone screens */
  }
  .buttons-div {
    flex-direction: column;
  }
  .button-choice {
    margin: 5px;
  }
}
