body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  background-image: url("./Assets/images/darkSpace.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.card.search-card , .card.results-card {
background-color: #b5b2e7
}

#chartdiv {
  width: 100%;
  height: 500px;
max-width:100%;
  background-color:#000033;
}
body .choice-button {
  background-color: #0d469b;
}
.card-text {
  font-size: 25px;
}